@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

:root {
    --colorOne: #ff6f61;
    --colorOneHover: #ff4331;
    --colorTwo: #666;
    --colorTwoHover: #000;
    --colorThree: #fff;
    --colorFour: #ddd;
}

* {
    font-family: "Poppins", serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Navbar */

.button {
    background-color: var(--colorOne);
    color: var(--colorThree);
    font-size: 16px;
    padding: 12px 20px;
    border-radius: 20px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.button:hover {
    background-color: var(--colorOneHover);
}

.navbar {
    background-color: var(--colorThree);
    height: 80px;
    margin: 20px;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.navbar-brand {
    font-weight: 500;
    font-size: 24px;
    color: var(--colorTwo);
    transition: 0.3 color;
}

.navbar-toggler {
    border: none;
    font-size: 18px;
}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: var(--colorTwo);
    font-weight: 500;
    position: relative;
}

.nav-link:hover, .nav-link.active {
    color: var(--colorTwoHover);
}

/* Hero section */

.hero-section {
    background: url("https://images.unsplash.com/photo-1690701804419-7bd94e046e74?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    width: 100%;
}

.hero-section .container {
    height: 100vh;
    z-index: 1;
    position: relative;
}

.hero-section h1 {
    font-size: 32px;
}

.hero-section h2 {
    font-size: 24px;
}


/* CSS INDEX.HTML */

/* Motivos para elegirnos section */

.motivos {
    text-align: center;
    padding: 40px 20px;
    background-color:var(--colorThree);
    border-radius: 16px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    margin-bottom: 40px;
}

.motivos h2 {
    font-size: 30px;
    color:var(--colorTwo);
    margin-bottom: 20px;
}

.grid-motivos {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.motivo-card {
    text-align: center;
    padding: 20px;
    background:var(--colorThree);
    border-radius: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.motivo-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.motivo-card img {
    max-width: 60px;
    margin-bottom: 15px;
}

.motivo-card h3 {
    font-size: 24px;
    color:var(--colorTwo);
    margin-bottom: 10px;
}

.motivo-card p {
    font-size: 16px;
    color:var(--colorTwo);
}


/* Información section */

.informacion-interesante {
    padding: 40px 20px;
    background-color: var(--colorThree); 
    border-radius: 16px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    margin-bottom: 40px;
}

.informacion-interesante h2 {
    font-size: 30px;
    color: var(--colorTwo);
    text-align: center;
    margin-bottom: 20px;
}

.informacion-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.info-card {
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    height: 100%; 
    background: var(--colorThree);
    border: 1px solid var(--colorFour);
    border-radius: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

info-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.info-card img {
    width: 100%;
    height: auto; 
    object-fit: cover;
    border-bottom: 1px solid var(--colorFour); 
}

.info-card h3 {
    font-size: 24px;
    color: var(--colorTwo);
    padding: 15px 15px;
    text-align: center;
}

.info-card p {
    font-size: 16px;
    color: var(--colorTwo);
    padding: 0 15px;
    text-align: center;
}

.info-card a {
    align-self: block;
    margin: 20px 20px;
    text-align: center;
    background: var(--colorOne);
    color: var(--colorThree);
    border-radius: 16px;
    text-decoration: none;
    font-size: 16px;
    transition: background 0.3s ease;
}

.info-card a:hover {
    background:var(--colorOneHover);
}


/* Beneficios section */

.beneficios {
    text-align: center;
    padding: 40px 20px;
    background-color:var(--colorThree); 
    border-radius: 16px; 
    margin-bottom: 40px;
}

.beneficios h2 {
    font-size: 30px;
    color:var(--colorTwo);
    margin-bottom: 20px;
}

.grid-beneficios {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-top: 20px;
}

.beneficio {
    text-align: center;
    padding: 20px;
    background:var(--colorThree);
    border: 1px solid var(--colorFour);
    border-radius: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.beneficio:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.beneficio img {
    max-width: 60px;
    margin-bottom: 15px;
}

.beneficio h3 {
    font-size: 24px;
    color:var(--colorTwo);
    margin-bottom: 10px;
}

.beneficio p {
    font-size: 16px;
    color:var(--colorTwo);
}


/* Testimonios section */

.testimonios {
    text-align: center;
    padding: 40px 20px;
    background-color:var(--colorThree);
    border-radius: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}

.testimonios h2 {
    font-size: 30px;
    color:var(--colorTwo);
    margin-bottom: 20px;
}

.grid-testimonios {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    margin-top: 20px;
    justify-content: center;
}

.testimonio-card {
    background:var(--colorThree);
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-style: italic;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.testimonio-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.testimonio-card p {
    font-size: 16px;
    color:var(--colorTwo);
    margin-bottom: 15px;
}

.testimonio-card h3 {
    font-size: 16px;
    color:var(--colorOne);
}


/* Contacto section */

.contact-us {
    background-color:var(--colorThree);
    padding: 60px 20px;
    text-align: center;
}

.contact-us h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color:var(--colorTwo);
}

.contact-us p {
    font-size: 18px;
    margin-bottom: 30px;
    color:var(--colorTwo);
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color:var(--colorThree);
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.contact-form .form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact-form label {
    font-size: 16px;
    color:var(--colorTwo);
    margin-bottom: 8px;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid var(--colorFour);
    border-radius: 16px;
    font-size: 16px;
    color: var(--colorTwo);
    background-color: var(--colorThree);
}

.contact-form input:focus, .contact-form textarea:focus {
    border-color: var(--colorOne);
    outline: none;
}

.contact-form textarea {
    resize: vertical;
}

.contact-form .btn-submit {
    padding: 16px 20px;
    background-color:var(--colorOne);
    color:var(--colorThree);
    font-size: 16px;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form .btn-submit:hover {
    background-color:var(--colorOneHover);
}


/* Footer */

footer {
    background-color: var(--colorTwo);
    color: var(--colorThree);
    padding: 40px 0;
}

.footer-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


/* Footer links */

.footer-links {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 40px;
}

.footer-link-column h4 {
    font-size: 20px;
    margin-bottom: 15px;
}

.footer-link-column ul {
    list-style: none;
    font-size: 16px;
    display: block;
    margin-left: -30px;
}

.footer-link-column ul li a {
    color: var(--colorThree);
    text-decoration: none;
    display: block;
    margin-bottom: 8px;
}

.footer-link-column ul li a:hover {
    color: var(--colorOne);
    text-decoration: underline;
}


/* Footer Redes */

.social-links {
    list-style: none;
}

.social-links li {
    margin-bottom: 10px;
}

.social-links .social-icon {
    color: var(--colorThree);
    text-decoration: none;
    font-size: 18px;
}

.social-links .social-icon:hover {
    color: var(--colorOne);
}


/* Footer copyright */

.footer-bottom {
    text-align: center;
    font-size: 14px;
    margin-top: 30px;
}

.footer-bottom p {
    margin: 0;
}


/* CSS nosotros.html */

#hero-section-nosotros {
    background-image: url("https://images.unsplash.com/photo-1455849318743-b2233052fcff?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size:cover;
    width: 100%;
    background-position:center;
}

.container-nosotros {
    margin: 0 auto;
    padding: 20px;
    width: auto;
}

/* Sección Historia */

.historia {
    padding: 20px 20px;
    background:var(--colorThree);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
    text-align: center;
}

.historia h2 {
    font-size: 30px;
    color: var(--colorTwo);
    margin-bottom: 20px;
}

.historia p {
    font-size: 16px;
    color: var(--colorTwo);
    line-height: 1.6;
}


/* Sección Valores */

.valores {
    padding: 40px 20px;
    background:var(--colorThree);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
    text-align: center;
}

.valores h2 {
    font-size: 30px;
    color: var(--colorTwo);
    margin-bottom: 20px;
}

.grid-valores {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-top: 20px;
}

.valor-card {
    text-align: center;
    padding: 20px;
    background: var(--colorThree);
    border: 1px solid var(--colorFour);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.valor-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.valor-card img {
    max-width: 60px;
    margin-bottom: 15px;
}

.valor-card h3 {
    font-size: 24px;
    color: var(--colorTwo);
    margin-bottom: 10px;
}

.valor-card p {
    font-size: 16px;
    color: var(--colorTwo);
}


  /* Sección Equipo */

.equipo {
    padding: 40px 20px;
    background: var(--colorThree);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
    text-align: center;
}

.equipo h2 {
    font-size: 30px;
    color: var(--colorTwo);
    margin-bottom: 20px;
}

.equipo p {
    font-size: 16px;
    color: var(--colorTwo);
    margin-bottom: 20px;
    line-height: 1.6;
}

.grid-equipo {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.miembro-card {
    text-align: center;
    padding: 20px;
    background: var(--colorThree);
    border: 1px solid var(--colorFour);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.miembro-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.miembro-card img {
    width: 100%;
    border-radius: 50%;
    margin-bottom: 15px;
}

.miembro-card h3 {
    font-size: 18px;
    color: var(--colorTwo);
    margin-bottom: 5px;
}

.miembro-card p {
    font-size: 16px;
    color: var(--colorTwo);
}


  /* Sección CTA */
.cta {
    text-align: center;
    padding: 40px 20px;
    background: var(--colorOne);
    color: var(--colorThree);
    border-radius: 8px;
    margin-bottom: 40px;
}

.cta h2 {
    font-size: 30px;
    margin-bottom: 15px;
}

.cta p {
    font-size: 16px;
    margin-bottom: 25px;
}

.cta .btn-primary {
    display: inline-block;
    padding: 16px 20px;
    background: var(--colorThree);
    color: var(--colorTwo);
    border-radius: 16px;
    text-decoration: none;
    font-size: 16px;
    transition: background 0.3s ease;
}

.cta .btn-primary:hover {
    background: var(--colorOneHover);
}


/* Cards Dinámicas */

#dinamic-button {
    background:var(--colorOne);
}

#dinamic-button:hover {
    background: var(--colorOneHover);
}


/* Botones */

.btn {
    padding: 12px 20px;
    border-radius: 16px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
    border: none;
}

.btn-outline-danger {
    border: 1px solid var(--colorOne);
}

.btn-outline-danger:hover {
    border: 1px solid var(--colorOneHover);
    transform: translateY(-3px);
}

.btn-success {
    background: var(--colorOne);
    color: var(--colorThree);
}

.btn-success:hover {
    background: var(--colorOneHover);
    transform: translateY(-3px);
}

.btn-secondary {
    background: var(--colorOne);
}

.btn-secondary:hover {
    background: var(--colorOneHover);
    transform: translateY(-3px);
}

.custom-swal-button {
    background: var(--colorOne);
}

.custom-swal-button:hover {
    background: var(--colorOneHover);
}

/* CSS productos.html */

.paginacion {
    margin-top: 40px;
}

#hero-section-productos {
    background-image: url("https://images.unsplash.com/photo-1650737736263-67daef292284?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size:cover;
    width: 100%;
    background-position:center;
}

/* Cards dinamicas */

.col-md-4 {
    margin-bottom: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    height: 100%; 
}

.card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1; 
    justify-content: space-between; 
}


/* CSS carrito.html*/

#hero-section-carrito {
    background-image: url("https://images.unsplash.com/photo-1556741533-411cf82e4e2d?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size:cover;
    width: 100%;
    background-position:center;
}

/* Estilo de la Tabla */

.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    margin-top: 20px;
    background: var(--colorThree);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    overflow: hidden; 
}

.table th, .table td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid var(--colorFour);
    font-size: 16px;
    color:var(--colorTwo);
}

.table th {
    background-color:var(--colorThree);
    color:var(--colorTwo);
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.table tbody tr:hover {
    background-color:var(--colorThree); 
}

/* Subtotal y Total */
.text-end h4 {
    font-size: 24px;
    color:var(--colorTwo);
    margin-bottom: 10px;
}


/* Media responsive */

@media (max-width: 576px) {

    /* Navbar */

    .navbar {
        margin: 20px 20px;
        padding: 10px;
        height: auto;
        border-radius: 16px;
    }

    .navbar-brand {
        font-size: 20px;
    }

    .nav-link {
        font-size: 14px;
    }

    .navbar-toggler {
        font-size: 18px;
    }


    /* Hero Section */

    .hero-section .container {
        padding: 20px;
        height: 40vh; 
    }

    .hero-section h1 {
        font-size: 24px;
    }

    .hero-section h2 {
        font-size: 18px;
    }


    /* Motivos para Elegirnos */

    .grid-motivos {
        grid-template-columns: 1fr; 
    }

    .motivo-card h3 {
        font-size: 18px;
    }

    .motivo-card p {
        font-size: 14px;
    }


    /* Información Interesante */

    .informacion-grid {
        grid-template-columns: 1fr; 
    }

    .info-card img {
        height: 200px; 
    }

    .info-card h3 {
        font-size: 18px;
    }

    .info-card p {
        font-size: 14px;
    }

    .info-card a {
        font-size: 14px;
        padding: 8px 10px;
    }


    /* Beneficios */

    .grid-beneficios {
        grid-template-columns: 1fr; 
    }

    .beneficio img {
        max-width: 40px;
    }

    .beneficio h3 {
        font-size: 18px;
    }

    .beneficio p {
        font-size: 14px;
    }


    /* Testimonios */

    .grid-testimonios {
        grid-template-columns: 1fr; 
    }

    .testimonio-card {
        padding: 15px;
    }

    .testimonio-card p {
        font-size: 14px;
    }

    .testimonio-card h3 {
        font-size: 16px;
    }


    /* Contacto */

    .contact-form {
        padding: 20px;
        max-width: 100%;
    }

    .contact-form label {
        font-size: 14px;
    }

    .contact-form input, .contact-form textarea {
        font-size: 14px;
        padding: 10px;
    }

    .contact-form .btn-submit {
        font-size: 16px;
        padding: 10px 20px;
    }


    /* Footer */

    .footer-links {
        flex-direction: column;
        gap: 15px;
    }

    .footer-link-column ul li a {
        font-size: 14px;
    }

    .footer-container {
        padding: 20px;
    }

    .footer-bottom {
        font-size: 12px;
    }


    /* Cards dinamicas */

    .card {
        margin-bottom: 20px; 
    }

    .card img {
        height: auto; 
        max-height: 150px; 
    }

    .card-body {
        padding: 10px; 
    }


    /* Responsive nostros.html */

    .historia, .valores, .equipo, .cta {
        padding: 20px 10px;
    }

    .historia h2, .valores h2, .equipo h2 {
        font-size: 24px; 
    }

    .historia p, .valores p, .equipo p {
        font-size: 16px;
    }

    .grid-valores, .grid-equipo {
        grid-template-columns: 1fr; 
        gap: 15px; 
    }

    .valor-card img, .miembro-card img {
        max-width: 50px; 
        margin: 0 auto; 
    }

    .cta h2 {
        font-size: 24px; 
    }

    .cta p {
        font-size: 16px; 
    }

    .cta .btn-primary {
        font-size: 16px; 
        padding: 12px 20px; 
    }


    /* Responsive carrito.html */


    /* Tabla */
    .table {
        width: 100%; 
        border-radius: 16px; 
        margin: 10px 0; 
        overflow-x: auto; 
    }

    .table th, .table td {
        padding: 8px; 
        font-size: 12px; 
        text-align: center; 
    }

    .table th {
        font-size: 14px; 
    }

    .table tbody tr {
        display: table-row;
        width: 100%;
    }

    .table tbody tr td {
        display: table-cell;
    }


    /* Subtotal y Total */

    .text-end {
        margin-top: 16px;
    }

    .text-end h4 {
        font-size: 16px; 
        text-align: center; 
    }
}

@media (min-width: 576px) and (max-width: 768px) {


    /* Navbar */

    .navbar {
        margin: 20px 20px;
        padding: 15px;
        height: auto;
        border-radius: 16px; 
    }

    .navbar-brand {
        font-size: 22px;
    }

    .nav-link {
        font-size: 15px;
        padding: 5px 10px;
    }

    .navbar-toggler {
        font-size: 18px;
    }


    /* Hero Section */

    .hero-section .container {
        height: 50vh; 
        padding: 30px; 
    }

    .hero-section h1 {
        font-size: 28px;
    }

    .hero-section h2 {
        font-size: 20px;
    }


    /* Motivos para Elegirnos */

    .grid-motivos {
        grid-template-columns: repeat(2, 1fr);
    }

    .motivo-card h3 {
        font-size: 20px;
    }

    .motivo-card p {
        font-size: 16px;
    }


    /* Información Interesante */

    .informacion-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    .info-card img {
        height: 250px;
    }

    .info-card h3 {
        font-size: 20px;
    }

    .info-card p {
        font-size: 16px;
    }

    .info-card a {
        font-size: 16px;
        padding: 10px 15px;
    }


    /* Beneficios */

    .grid-beneficios {
        grid-template-columns: repeat(2, 1fr); 
    }

    .beneficio img {
        max-width: 50px;
    }

    .beneficio h3 {
        font-size: 20px;
    }

    .beneficio p {
        font-size: 16px;
    }


    /* Testimonios */

    .grid-testimonios {
        grid-template-columns: repeat(2, 1fr); 
        gap: 20px;
    }

    .testimonio-card {
        padding: 20px;
    }

    .testimonio-card p {
        font-size: 16px;
    }

    .testimonio-card h3 {
        font-size: 18px;
    }


    /* Contacto */

    .contact-form {
        padding: 30px;
        max-width: 90%; 
    }

    .contact-form label {
        font-size: 15px;
    }

    .contact-form input, .contact-form textarea {
        font-size: 15px;
        padding: 12px; 
    }

    .contact-form .btn-submit {
        font-size: 16px;
        padding: 12px 20px;
    }


    /* Footer */

    .footer-links {
        flex-direction: row;
        gap: 20px;
    }

    .footer-link-column ul li a {
        font-size: 15px; 
    }

    .footer-container {
        padding: 30px;
    }

    .footer-bottom {
        font-size: 14px;
    }


    /* Cards dinámicas */

    .card {
        margin-bottom: 25px; 
        height: auto; 
    }

    .card img {
        height: 200px; 
        object-fit: cover; 
    }

    .card-body {
        padding: 15px; 
        display: flex;
        flex-direction: column;
        flex-grow: 1; 
        justify-content: space-between; 
    }


    /* Responsive nosotros.html */

    .historia, .valores, .equipo, .cta {
        padding: 30px 15px; 
    }

    .historia h2, .valores h2, .equipo h2 {
        font-size: 30px; 
    }

    .historia p, .valores p, .equipo p {
        font-size: 16px;
    }

    .grid-valores, .grid-equipo {
        grid-template-columns: repeat(2, 1fr); 
        gap: 20px; 
    }

    .valor-card img, .miembro-card img {
        max-width: 60px; 
        margin: 0 auto; 
    }

    .cta h2 {
        font-size: 30px; 
    }

    .cta p {
        font-size: 16px; 
    }

    .cta .btn-primary {
        font-size: 16px; 
        padding: 12px 20px; 
    }


    /* Responsive carrito.html */

    #container-div-carrito {
        max-width: 768px; 
        padding: 20px; 
        margin: 0 auto; 
    }


    /* Tabla */

    .table {
        width: 100%; 
        border-radius: 16px; 
        margin: 0 auto; 
        overflow-x: auto; 
    }

    .table th, .table td {
        padding: 12px; 
        font-size: 14px; 
        text-align: center; 
    }

    .table th {
        font-size: 16px;
    }

    .table tbody tr {
        display: table-row; 
        width: 100%; 
    }

    .table tbody tr td {
        display: table-cell; 
        word-break: break-word; 
    }


    /* Subtotal y Total */

    .text-end {
        margin-top: 16px;
    }
    
    .text-end h4 {
        font-size: 20px;
        text-align: center;
        margin-bottom: 15px; 
        margin-top: 15px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {

    /* Navbar */

    .navbar {
        margin: 20px 20px;
        padding: 20px;
        height: auto;
        border-radius: 16px;
    }

    .navbar-brand {
        font-size: 24px; 
    }

    .nav-link {
        font-size: 16px;
        padding: 8px 15px; 
    }

    .navbar-toggler {
        font-size: 20px;
    }


    /* Hero Section */

    .hero-section .container {
        height: 60vh; 
        padding: 40px;
    }

    .hero-section h1 {
        font-size: 32px; 
    }

    .hero-section h2 {
        font-size: 22px;
    }


    /* Motivos para Elegirnos */

    .grid-motivos {
        grid-template-columns: repeat(3, 1fr); 
    }

    .motivo-card h3 {
        font-size: 24px; 
    }

    .motivo-card p {
        font-size: 16px;
    }


    /* Información Interesante */
    
    .informacion-grid {
        grid-template-columns: repeat(3, 1fr); 
        gap: 20px;
    }

    .info-card img {
        height: 300px; 
    }

    .info-card h3 {
        font-size: 24px;
    }

    .info-card p {
        font-size: 16px;
    }

    .info-card a {
        font-size: 16px;
        padding: 12px 20px; 
    }


    /* Beneficios */

    .grid-beneficios {
        grid-template-columns: repeat(3, 1fr); 
    }

    .beneficio img {
        max-width: 60px; 
    }

    .beneficio h3 {
        font-size: 24px;
    }

    .beneficio p {
        font-size: 16px;
    }


    /* Testimonios */

    .grid-testimonios {
        grid-template-columns: repeat(3, 1fr); 
        gap: 20px;
    }

    .testimonio-card {
        padding: 25px;
    }

    .testimonio-card p {
        font-size: 14px; 
    }

    .testimonio-card h3 {
        font-size: 18px;
    }


    /* Contacto */

    .contact-form {
        padding: 40px; 
        max-width: 80%;
    }

    .contact-form label {
        font-size: 16px;
    }

    .contact-form input, .contact-form textarea {
        font-size: 16px;
        padding: 14px;
    }

    .contact-form .btn-submit {
        font-size: 16px;
        padding: 12px 20px;
    }


    /* Footer */

    .footer-links {
        flex-direction: row;
        gap: 30px; 
    }

    .footer-link-column ul li a {
        font-size: 16px; 
    }

    .footer-container {
        padding: 40px; 
    }

    .footer-bottom {
        font-size: 14px;
    }


    /* Cards dinámicas */
    
    .card {
        margin-bottom: 30px; 
        height: 100%; 
    }

    .card img {
        height: 250px; 
        object-fit: cover;
    }

    .card-body {
        padding: 20px; 
        display: flex;
        flex-direction: column;
        flex-grow: 1; 
        justify-content: space-between;
    }


    /* Responsive nosotros.html */

    .historia, .valores, .equipo, .cta {
        padding: 35px 20px; 
    }

    .historia h2, .valores h2, .equipo h2 {
        font-size: 32px; 
    }

    .historia p, .valores p, .equipo p {
        font-size: 18px; 
    }

    .grid-valores, .grid-equipo {
        grid-template-columns: repeat(2, 1fr); 
        gap: 25px; 
    }

    .valor-card img, .miembro-card img {
        max-width: 65px; 
        margin: 0 auto; 
    }

    .cta h2 {
        font-size: 32px; 
    }

    .cta p {
        font-size: 18px;
    }

    .cta .btn-primary {
        font-size: 16px; 
        padding: 12px 20px; 
    }


    /* Responsive carrito.html */

    #container-div-carrito {
        max-width: 992px; 
        padding: 20px; 
        margin: 0 auto; 
    }


    /* Tabla */

    .table {
        width: 100%; 
        margin: 15px auto; 
        border-radius: 12px; 
        overflow-x: auto; 
        transition: width 0.3s ease; 
    }

    .table th, .table td {
        padding: 15px; 
        font-size: 16px; 
        text-align: center;
    }

    .table th {
        font-size: 18px; 
    }

    .table tbody tr {
        display: table-row; 
        width: 100%; 
    }

    .table tbody tr td {
        display: table-cell; 
        word-break: break-word; 
    }


    /* Subtotal y Total */

    .text-end {
        margin-top: 16px;
    }

    .text-end h4 {
        font-size: 22px; 
        text-align: right; 
        margin-bottom: 20px;
        margin-top: 20px;
    }
}

@media (min-width: 992px) {

    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: var(--colorOne);
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before, .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }


    /* Navbar */

    .navbar {
        margin: 20px 20px;
        padding: 20px 40px; 
        border-radius: 16px;
    }

    .navbar-brand {
        font-size: 28px; 
    }

    .nav-link {
        font-size: 18px;
        padding: 10px 20px; 
    }

    .navbar-toggler {
        font-size: 22px;
    }


    /* Hero Section */

    .hero-section .container {
        height: 80vh; 
        padding: 60px; 
    }

    .hero-section h1 {
        font-size: 40px;
    }

    .hero-section h2 {
        font-size: 24px;
    }


    /* Motivos para Elegirnos */

    .grid-motivos {
        grid-template-columns: repeat(3, 1fr); 
        gap: 30px; 
    }

    .motivo-card h3 {
        font-size: 24px; 
    }

    .motivo-card p {
        font-size: 18px;
    }


    /* Información Interesante */

    .informacion-grid {
        grid-template-columns: repeat(3, 1fr); 
        gap: 30px; 
    }

    .info-card img {
        height: 350px; 
    }

    .info-card h3 {
        font-size: 24px;
    }

    .info-card p {
        font-size: 18px;
    }

    .info-card a {
        font-size: 16px;
        padding: 15px 25px; 
    }


    /* Beneficios */

    .grid-beneficios {
        grid-template-columns: repeat(3, 1fr); 
        gap: 30px; 
    }

    .beneficio img {
        max-width: 70px; 
    }

    .beneficio h3 {
        font-size: 24px;
    }

    .beneficio p {
        font-size: 16px;
    }


    /* Testimonios */

    .grid-testimonios {
        grid-template-columns: repeat(3, 1fr); 
        gap: 30px; 
    }

    .testimonio-card {
        padding: 30px;  
        margin: 0 auto;
    }

    .testimonio-card p {
        font-size: 16px; 
    }

    .testimonio-card h3 {
        font-size: 24px;
    }


    /* Contacto */

    .contact-form {
        padding: 50px; 
        max-width: 70%; 
        margin: 0 auto; 
    }

    .contact-form label {
        font-size: 18px;
    }

    .contact-form input, .contact-form textarea {
        font-size: 18px;
        padding: 15px;
    }

    .contact-form .btn-submit {
        font-size: 16px;
        padding: 12px 20px;
    }


    /* Footer */
    
    .footer-links {
        flex-direction: row; 
        gap: 40px; 
        justify-content: space-between; 
    }

    .footer-link-column ul li a {
        font-size: 18px;
    }

    .footer-container {
        padding: 40px; 
        margin: 0 auto; 
    }

    .footer-bottom {
        font-size: 16px;
    }


    /* Cards dinámicas */

    .card {
        margin-bottom: 40px; 
        height: 100%; 
    }

    .card img {
        height: 300px; 
        object-fit: cover; 
    }

    .card-body {
        padding: 25px; 
        display: flex;
        flex-direction: column;
        flex-grow: 1; 
        justify-content: space-between; 
    }


    /* Responsive nosotros.html*/

    .historia, .valores, .equipo, .cta {
        padding: 40px 20px;
    }

    .historia h2, .valores h2, .equipo h2 {
        font-size: 32px;
    }

    .historia p, .valores p, .equipo p {
        font-size: 16px;
    }

    .grid-valores {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid-equipo {
        grid-template-columns: repeat(3, 1fr);
    }

    .valor-card img, .miembro-card img {
        max-width: 70px;
    }

    .cta h2 {
        font-size: 30px;
    }

    .cta p {
        font-size: 16px;
    }

    .cta .btn-primary {
        font-size: 16px;
        padding: 12px 20px;
    }


    /* Responsive carrito.html */
    
    #container-div-carrito {
        padding: 20px; 
        margin: 0 auto; 
    }


    /* Tabla */
    .table {
        width: 100%;
        margin: 15px auto; 
        border-radius: 16px; 
        overflow-x: auto; 
        transition: width 0.3s ease; 
    }

    .table th, .table td {
        padding: 20px; 
        font-size: 18px; 
        text-align: center; 
    }

    .table th {
        font-size: 20px; 
    }

    .table tbody tr {
        display: table-row; 
    }

    .table tbody tr td {
        display: table-cell; 
        word-break: break-word;
    }


    /* Subtotal y Total */

    .text-end {
        margin-top: 16px;
    }

    .text-end h4 {
        font-size: 24px; 
        text-align: right; 
        margin-bottom: 20px;
        margin-top: 20px;
    }
}
